<div id="background">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Add a Burger</h5>
                        
                            <form class="create-form">

                            <div class="form-group">
                                <label for="burger_name">Burger Name:</label>
                                <input type="text" id="burger_name" name="name">
                            </div>

                            <div class="form-group">
                                <label for="devoured">Sleepy?</label><br>
                                <input type="radio" name="devoured" value="1" checked> Devoured<br>
                                <input type="radio" name="devoured" value="0"> Not Devoured
                            </div>
                            <button type="submit" class="btn btn-dark">Add Burger</button>
                        </form>
                    </div>
                </div>
                
            </div>

            

            <div class="col-md-4">
                 <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Devoured</h5>
                            <ul>
                                {{#each burgers}}
                                    {{#if devoured}}
                                    {{> burgers/burger-block devoured=false}}
                                    {{/if}}
                                {{/each}}
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                                 <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Not Devoured</h5>
                            <ul>
                                {{#each burgers}}
                                    {{#unless devoured}}
                                    {{> burgers/burger-block devoured=true}}
                                    {{/unless}}
                                {{/each}}
                            </ul>
                    </div>
                </div>
            </div>
        </div>



        <div id="plate">
            <img src="/assets/images/burger_plate_transparent.png" alt="burger on a plate">
        </div>


    </div>

</div>